/* CONTAINER */

.header {
  padding: 1% 3% 1%;
  width: 100%;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.container {
  padding: 0% 3% 0%;
  width: 100%;

  margin-bottom: 20px;
}

/* DISPLAY */

.flex-true {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: block;
}

/* BOX */

.box-light {
  border: 0.25px solid #cccccc;
  border-radius: 5px;

  height: 100%;
  width: 100%;

  padding: 1.2em;
  margin: 1em 0em 1em;
}

.box-heavy {
  border: 1px solid #cccccc;
  border-radius: 3px;

  height: 100%;
  width: 100%;

  padding: 1.2em;
  margin: 1em 0em 1em;
}

.box-none {
  border: 0px;

  height: 100%;
  width: 100%;

  padding: 1.2em;
  margin: 1em 0em 1em;
}

/* BUTTON */

.primary {
  background: #3597ff;
  border-radius: 1px;
  border: 0.25px solid #cccccc;
  width: 100%;

  height: 30px;
  line-height: 16px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.secondary {
  background: #ffffff;
  border-radius: 1px;
  border: 0.25px solid #cccccc;
  width: 100%;

  height: 30px;
  line-height: 16px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

.success {
  background: #24d89b;
  border-radius: 1px;
  border: 0.25px solid #cccccc;
  width: 100%;

  height: 30px;
  line-height: 16px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

/* AVATAR */

.avatar {
  background: #ffffff;
  border-radius: 50%;
  border: 0.5px solid #b0b0b0;
  padding: 5px;
}

/* FORM */

.form-input {
  height: 30px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 1px;
  padding-left: 0.5em;
  font-size: 1.2em;
  color: #4f4f4f;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #828282;
  margin-bottom: 0.5em;
}

/* TYPHOGRAPHY */

.brand {
  font-size: 2em;
  font-weight: 900;
  font-family: Poppins;
  color: #494949;
}

.menu {
  font-size: 1.2em;
  color: #494949;
  font-weight: 900;
}
.filter {
  font-size: 1.2em;
  font-style: normal;
  color: #828282;
  font-weight: 600;
}
.filter-item {
  font-size: 1.2em;
  font-style: normal;
  color: #828282;
  padding: 0.45em;
  background: #f7f7f7;
  border-radius: 3px;
}

/* FONT-LIST */
.list-label {
  line-height: 1.5em;
  color: #828282;
}

.list-item {
  size: 1.4em;
  line-height: 1.5em;
  color: #000000;
}

.list-item-2 {
  size: 1.4em;
  line-height: 1.5em;
  color: #494949;
}

.list-detail {
  line-height: 2.5em;
  color: #3597ff;
}

/* GRID */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 0.5em;
}

.col-1 {
  width: 12.5%;
}
.col-2 {
  width: 25%;
}
.col-3 {
  width: 37.5%;
}
.col-4 {
  width: 50%;
}
.col-5 {
  width: 62.5%;
}
.col-6 {
  width: 75%;
}
.col-7 {
  width: 87.5%;
}
.col-8 {
  width: 100%;
}

@media (max-width: 768px) {
  /* For tablets: */
  .col-s-1 {
    width: 25%;
  }
  .col-s-2 {
    width: 50%;
  }
  .col-s-3 {
    width: 75%;
  }
  .col-s-4 {
    width: 100%;
  }

  .flex {
    display: table;
  }
}
